{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Melen Photographer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
  </head>
  <body class="relative">
    <div class="grid sm:grid-cols-3">
    
      
      <header class="flex flex-col sm:min-h-screen w-full sm:w-2/6 justify-center sm:items-center gap-6 bg-gradient-to-r sm:fixed ">
        
        <h1 class="sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl -mb-6 border border-transparent border-b-rose-500 border-gray-400 pb-1">Robert Melen</h1>
        <span class="sm:text-center">Photography and Web development</span>
        
          <ul class=" flex flex-wrap list-none sm:justify-center gap-2">
          <li><a class="hover:text-red-500 focus:ring-1 ring-offset-4 ring-gray-900 rounded-lg shadow-sm" href="">Galleries</a></li>
          <li><a class="hover:text-red-500" href="">Contact</a></li>
          <li><a class="hover:text-red-500" href="">About</a></li>
          </ul>
        
        <span class="sm:absolute bottom-10">copyright robert melen 2023</span>
          <span class="sm:absolute left-0 bottom-0">sign in</span>
        
      </header>
    
        
    
      <section class="grid min-w-fit md:grid-cols-1  lg:grid-cols-2 sm:col-start-2 sm:col-span-2  sm:gap-2 sm:overflow-y-scroll scrollbar-hide mt-2 shadow-xl items-center">
        {% for image in images %}
        <div>
          
          <img class="w-full" src="{{ image.image.url }}">
          <div class=" text-xs">Sunrise at Penyfan, South Wales</div>
          
        </div>
        {% endfor %}
         
      </section>
      >
    </div>
    </body>
    